<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.yifeihappy.planechess">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.example.aty1.AtyMain"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.aty1.game_wifi.client.AtyGameClient"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.example.aty1.game_wifi.sever.AtyGameSever"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.example.aty1.select_game.AtySelectGame"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.example.aty1.game_rule.AtyRule"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.example.aty1.game_classic.AtyStartClassicGame"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.example.aty1.game_wifi.sever.AtyCreateRoom"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.example.aty1.game_wifi.sever.AtyWaitClients"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.example.aty1.game_wifi.client.AtyClientSetting"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.example.aty1.game_wifi.sever.AtyStartWifiGame"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.example.aty1.game_classic.AtyGameClassic"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>
